@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background: #282c34 no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.nav-white {
  color: #fff;
}

.header-text {
  padding-left: 10px;
  font-family: "Shadows Into Light", cursive;
}
.logo-img {
  height: auto;
  width: auto;
  max-width: 50px;
  max-height: 50px;
}

.env-size {
  font-size: 30px;
}
.mail-card {
  padding-bottom: 10px;
}

.b-background {
  background-color: #282c34;
  color: white;
}

/* This a is used at about page*/
.a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
}

.card-font {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #777;
}

#team img {
  margin-top: -15px;
}

#team i {
  font-size: 26px;
  color: #555;
  margin-top: -40px;
}

#team p {
  font-weight: 500;
}

#team .card {
  max-width: 300px;
  min-height: 390px;
  border-radius: 0;
  box-shadow: 5px 5px 15px wheat;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3 ease-in;
  -moz-transition: all 0.3 ease-in;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 15px; /* Added */
}

#team .card:hover {
  background: #c0c0c0;
  color: #fff !important;
  border-radius: 5px;
  border: none;
  box-shadow: 5px 5px 10px white;
}

#team .card:hover h3,
#team .card:hover i,
#team .card:hover h5,
#team .card:hover p {
  color: #fff !important;
}

.job-btn {
  position: relative;
  top: 40%;
  /*
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  */
  background-color: #555;
  color: white;
  border: none;
}

.text-jobs {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
}

.jobs-top {
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.4)
    ),
    url(./assets/img/jobs-page/job-top.png);
}
